@import "./breakpoints";

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin hnw($height, $width) {
  height: $height;
  width: $width;
}
